<a href="https://colab.research.google.com/github/Carmodann1311/IA_Calidadypreparacion/blob/main/EXAMEN_RODRIGUEZCARMONA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PARTE 1 DE EXAMEN ESTUDIANTES**

In [1]:
import pandas as pd
df = pd.read_csv("/content/Alumnos_Examen - Alumnos_Examen.csv")
df.head()

,Estudiante,Sexo,Centro,Edad,Semestre,Calculo,Estadistica,Ingles,IA
0,Ana,Femenino,GAM,18,5,8.0,9.5,8.6,8.0
1,Pepe,Masculino,Copilco,19,6,7.4,7.3,9.0,7.0
2,Ines,Femenino,Coyoacán,20,7,9.2,8.0,8.0,7.5
3,Luis,Masculino,MAC,20,7,6.5,6.5,7.0,9.0
4,Pedro,Masculino,GAM,21,5,6.0,7.8,8.9,8.6

Sexo, Edad y calificación en inglés de todos los alumnos

In [3]:
import pandas as pd

df = pd.read_csv("/content/Alumnos_Examen - Alumnos_Examen.csv")
df.head()

sexo_edad_ingles = df[['Sexo', 'Edad', 'Ingles']]
print(sexo_edad_ingles)

        Sexo  Edad  Ingles
0   Femenino    18     8.6
1  Masculino    19     9.0
2   Femenino    20     8.0
3  Masculino    20     7.0
4  Masculino    21     8.9
5   Femenino    19     8.0
6  Masculino    22     9.0
7  Masculino    21     8.0
8   Femenino    20     5.5
9   Femenino    19     9.0

- Las calificaciones de todas las materias de los alumnos Pepe, Luis y Martha

In [5]:
import pandas as pd

df = pd.read_csv("/content/Alumnos_Examen - Alumnos_Examen.csv")

calificaciones_pepe_luis_martha = df[df['Estudiante'].isin(['Pepe', 'Luis', 'Martha'])]
print(calificaciones_pepe_luis_martha)

  Estudiante       Sexo   Centro  Edad  Semestre  Calculo  Estadistica  \
1       Pepe  Masculino  Copilco    19         6      7.4          7.3
3       Luis  Masculino      MAC    20         7      6.5          6.5
9     Martha   Femenino      GAM    19         6      7.2          8.7

   Ingles   IA
1     9.0  7.0
3     7.0  9.0
9     9.0  7.0

Centro y edad de los alumnos del sexo femenino

In [7]:
import pandas as pd

df = pd.read_csv("/content/Alumnos_Examen - Alumnos_Examen.csv")

centro_edad_femenino = df[df['Sexo'] == 'Femenino'][['Centro', 'Edad']]
print(centro_edad_femenino)

     Centro  Edad
0       GAM    18
2  Coyoacán    20
5  Coyoacán    19
8  Coyoacán    20
9       GAM    19

Semestre, calificaciones de cálculo e IA de los alumnos del sexo masculino

In [9]:
import pandas as pd

df = pd.read_csv("/content/Alumnos_Examen - Alumnos_Examen.csv")
semestre_calculo_ia_masculino = df[df['Sexo'] == 'Masculino'][['Semestre', 'Calculo', 'IA']]
print(semestre_calculo_ia_masculino)

   Semestre  Calculo   IA
1         6      7.4  7.0
3         7      6.5  9.0
4         5      6.0  8.6
6         6      6.4  7.2
7         7      9.7  6.0

Alumnos que estudian en los centros Coyoacán y MAC

In [11]:
import pandas as pd

df = pd.read_csv("/content/Alumnos_Examen - Alumnos_Examen.csv")
alumnos_coyoacan_mac = df[df['Centro'].isin(['Coyoacán', 'MAC'])]
print(alumnos_coyoacan_mac)

  Estudiante       Sexo    Centro  Edad  Semestre  Calculo  Estadistica  \
2       Ines   Femenino  Coyoacán    20         7      9.2          8.0
3       Luis  Masculino       MAC    20         7      6.5          6.5
5     Anabel   Femenino  Coyoacán    19         7      9.6          7.7
6     Carlos  Masculino       MAC    22         6      6.4          8.2
8      Sonia   Femenino  Coyoacán    20         5      6.0          6.5

   Ingles   IA
2     8.0  7.5
3     7.0  9.0
5     8.0  6.2
6     9.0  7.2
8     5.5  8.7

 Alumnos que estudian en centro GAM y son mayores a 20 años

In [40]:
import pandas as pd

df = pd.read_csv("/content/Alumnos_Examen - Alumnos_Examen.csv")
alumnos_gam_mayores_20 = df[(df['Centro'] == 'GAM') & (df['Edad'] > 20)]
print(alumnos_gam_mayores_20)

  Estudiante       Sexo Centro  Edad  Semestre  Calculo  Estadistica  Ingles  \
4      Pedro  Masculino    GAM    21         5      6.0          7.8     8.9

    IA
4  8.6

- Alumnos cuya calificación en inglés es mayor a 8

In [34]:
import pandas as pd

df = pd.read_csv("/content/Alumnos_Examen - Alumnos_Examen.csv")
alumnos_ingles_mayor_8 = df[df['Ingles'] > 8]
print(alumnos_ingles_mayor_8)

  Estudiante       Sexo   Centro  Edad  Semestre  Calculo  Estadistica  \
0        Ana   Femenino      GAM    18         5      8.0          9.5
1       Pepe  Masculino  Copilco    19         6      7.4          7.3
4      Pedro  Masculino      GAM    21         5      6.0          7.8
6     Carlos  Masculino      MAC    22         6      6.4          8.2
9     Martha   Femenino      GAM    19         6      7.2          8.7

   Ingles   IA
0     8.6  8.0
1     9.0  7.0
4     8.9  8.6
6     9.0  7.2
9     9.0  7.0

Alumnos del sexo femenino que sean mayores a 20 años

In [15]:
import pandas as pd

df = pd.read_csv("/content/Alumnos_Examen - Alumnos_Examen.csv")
femenino_mayores_20 = df[(df['Sexo'] == 'Femenino') & (df['Edad'] > 20)]
print(femenino_mayores_20)

Empty DataFrame
Columns: [Estudiante, Sexo, Centro, Edad, Semestre, Calculo, Estadistica, Ingles, IA]
Index: []

**PARTE 2 EXAMEN NBA**

In [16]:
import pandas as pd
df = pd.read_csv("/content/nba - nba (1).csv")
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,6-2,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-6,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,6-5,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,6-5,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,6-10,231,NaN,5000000.0

Obtener los registros Null en Salary

In [41]:
null_salary = data_nba[data_nba['Salary'].isnull()]
print(null_salary)

               Name                    Team  Number Position  Age Height  \
2      John Holland          Boston Celtics      30       SG   27    6-5
46      Elton Brand      Philadelphia 76ers      42       PF   37    6-9
171   Dahntay Jones     Cleveland Cavaliers      30       SG   35    6-6
264   Jordan Farmar       Memphis Grizzlies       4       PG   29    6-2
269    Ray McCallum       Memphis Grizzlies       5       PG   24    6-3
270  Xavier Munford       Memphis Grizzlies      14       PG   24    6-3
273  Alex Stepheson       Memphis Grizzlies      35       PF   28   6-10
350   Briante Weber              Miami Heat      12       PG   23    6-2
353   Dorell Wright              Miami Heat      11       SF   30    6-9
397    Axel Toupane          Denver Nuggets       6       SG   23    6-7
409      Greg Smith  Minnesota Timberwolves       4       PF   25   6-10

     Weight                College  Salary  Height_inches
2       205      Boston University     NaN             77
46      254                   Duke     NaN             81
171     225                   Duke     NaN             78
264     180                   UCLA     NaN             74
269     190                Detroit     NaN             75
270     180           Rhode Island     NaN             75
273     270                    USC     NaN             82
350     165  Virginia Commonwealth     NaN             74
353     205                    NaN     NaN             81
397     210                    NaN     NaN             79
409     250           Fresno State     NaN             82

Obtener:
Promedio de edad de los jugadores
Edad del jugador mas joven
Edad del jugador más veterano
promedio de salario de los jugadores
salario más bajo de los jugadores
salario más alto de los jugadores

In [20]:
promedio_edad = df['Age'].mean()
edad_jugador_joven = df['Age'].min()
edad_jugador_veterano = df['Age'].max()
promedio_salario = df['Salary'].mean()
salario_mas_bajo = df['Salary'].min()
salario_mas_alto = df['Salary'].max()
print(f"Promedio de edad de los jugadores: {promedio_edad:.2f}")
print(f"Edad del jugador más joven: {edad_jugador_joven}")
print(f"Edad del jugador más veterano: {edad_jugador_veterano}")
print(f"Promedio de salario de los jugadores: {promedio_salario:.2f}")
print(f"Salario más bajo de los jugadores: {salario_mas_bajo}")
print(f"Salario más alto de los jugadores: {salario_mas_alto}")

Promedio de edad de los jugadores: 26.94
Edad del jugador más joven: 19
Edad del jugador más veterano: 40
Promedio de salario de los jugadores: 4842684.11
Salario más bajo de los jugadores: 30888.0
Salario más alto de los jugadores: 25000000.0

Obtener la moda de los números que utilizan los jugadores

In [21]:
moda_numero = df['Number'].mode()
print(f"La moda de los números que utilizan los jugadores es: {moda_numero.values}")

La moda de los números que utilizan los jugadores es: [5]

Obtener:
Equipos con menos jugadores en el dataset
Equipos con más jugadores en el dataset

In [22]:
jugadores_por_equipo = df['Team'].value_counts()
equipo_con_menos_jugadores = jugadores_por_equipo.idxmin()
equipo_con_mas_jugadores = jugadores_por_equipo.idxmax()
print(f"Equipo con menos jugadores: {equipo_con_menos_jugadores}")
print(f"Equipo con más jugadores: {equipo_con_mas_jugadores}")

Equipo con menos jugadores: Orlando Magic
Equipo con más jugadores: New Orleans Pelicans

Obtener
 Las variables categóricas de College
ordenados de mayor a menor
Universidad que se repite menos en el Dataset
Universidad que se repite más en el Dataset

In [23]:
frecuencia_college = df['College'].value_counts()
frecuencia_college_ordenada = frecuencia_college.sort_values(ascending=False)
print("Frecuencia de las variables categóricas en la columna 'College', ordenadas de mayor a menor:")
print(frecuencia_college_ordenada)

Frecuencia de las variables categóricas en la columna 'College', ordenadas de mayor a menor:
College
Kentucky          22
Duke              20
Kansas            18
North Carolina    16
UCLA              15
                  ..
Morehead State     1
Weber State        1
Lehigh             1
Westchester CC     1
Baylor             1
Name: count, Length: 118, dtype: int64

 Obtener:
El número más usado por los jugadores
El número menos usado  por los jugadores
La moda del número más usado por los jugadores

In [25]:
numero_mas_repetido = df['Number'].value_counts().idxmax()
numero_menos_usado = df['Number'].value_counts().idxmin()
moda_numero_mas_usado = df[df['Number'] == numero_mas_repetido]['Number'].mode().iloc[0]
print(f"Most used number: {numero_mas_repetido}")
print(f"Least used number: {numero_menos_usado}")
print(f"Mode of the most used number: {moda_numero_mas_usado}")

Most used number: 5
Least used number: 54
Mode of the most used number: 5

Cuál es la posición con el promedio de estatura más baja
Cuál es la posición con el promedio de estatura más alta
¿Qué Position tiene el salario más bajo en promedio?
¿Qué Position tiene el salario más alto en promedio?

In [42]:
data_nba['Height_inches'] = data_nba['Height'].apply(lambda x: int(x.split('-')[0]) * 12 + int(x.split('-')[1]))

promedio_altura_posicion = data_nba.groupby('Position')['Height_inches'].mean()
posicion_promedio_altura_baja = promedio_altura_posicion.idxmin()
posicion_promedio_altura_alta = promedio_altura_posicion.idxmax()

promedio_salario_posicion = data_nba.groupby('Position')['Salary'].mean()
posicion_salario_bajo = promedio_salario_posicion.idxmin()
posicion_salario_alto = promedio_salario_posicion.idxmax()

print(posicion_promedio_altura_baja, posicion_promedio_altura_alta, posicion_salario_bajo, posicion_salario_alto)

PG C SG C

¿Qué universidad genera mas jugadores en con la posición C?
¿Qué universidad genera menos jugadores en con la posición SF?

In [43]:
universidades_posicion_c = data_nba[data_nba['Position'] == 'C']['College'].value_counts()
universidad_mas_jugadores_c = universidades_posicion_c.idxmax()

universidades_posicion_sf = data_nba[data_nba['Position'] == 'SF']['College'].value_counts()
universidad_menos_jugadores_sf = universidades_posicion_sf.idxmin()

print(universidad_mas_jugadores_c, universidad_menos_jugadores_sf)

Kentucky Memphis